
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid text-center d-flex justify-content-center align-items-center gap-4">
    <a class="btn btn-primary" asp-controller="Lobby" asp-action="Create">Create</a>
    <a class="btn btn-secondary" asp-controller="Lobby" asp-action="Join">Join</a>
</div>


