@model QuizGame.ViewModels.JoinRoomViewModel
@{
    ViewData["Title"] = "Join";
}

<form asp-controller="Lobby" asp-action="Join" method="post" class="form">
    @Html.AntiForgeryToken()
  <div asp-validation-summary="All" class="text-danger"></div>
	<span class="form-label">Enter the room code:</span>
    <input class="form-control" type="text" asp-for="RoomCode"/>
    <input class="form-control btn btn-success" type="submit"/>
</form>

<a class="btn btn-secondary mt-2" asp-action="Index">Back to List</a>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
